In [71]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [72]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [73]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

spark.sparkContext.addFile(url)

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DateType, FloatType

schema = StructType(fields=[
  StructField("id", StringType(), False),
  StructField("date", DateType(), False),
  StructField("date_built", DateType(), False),
  StructField("price", FloatType(), False),
  StructField("bedrooms", IntegerType(), False),
  StructField("bathrooms", IntegerType(), False),
  StructField("sqft_living", FloatType(), False),
  StructField("sqft_lot", FloatType(), False),
  StructField("floors", IntegerType(), False),
  StructField("waterfront", IntegerType(), False),
  StructField("view", IntegerType(), False)
])

df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True, schema=schema)

df.show()
df.describe()

24/04/22 03:17:27 WARN SparkContext: The path https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv has been added already. Overwriting of added paths is not supported in the current version.

+--------------------+----------+----------+--------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built|   price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+--------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|2016-01-01|936923.0|       4|        3|     3167.0| 11733.0|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|2013-01-01|379628.0|       2|        2|     2235.0| 14384.0|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|2014-01-01|417866.0|       2|        2|     2127.0| 10575.0|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|2016-01-01|239895.0|       2|        2|     1631.0| 11149.0|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|2017-01-01|424418.0|       3|        2|     2249.0| 13878.0|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|2017-01-01|218712.0|       2|        3|     1965.0| 14375.0|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|2017-01-01|419199.0|       2|        3|     2062.0|  8876.0|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|2010-01-01|323956.0|       2|        3|     1506.0| 11816.0|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|2016-01-01|181925.0|       3|        3|     2137.0| 11709.0|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|2015-01-01|258710.0|       3|        3|     1918.0|  9666.0|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|2011-01-01|167864.0|       3|        3|     2471.0| 13924.0|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|2014-01-01|337527.0|       2|        3|     1926.0| 12556.0|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|2015-01-01|229896.0|       3|        3|     2197.0|  8641.0|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|2016-01-01|210247.0|       3|        2|     1672.0| 11986.0|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|2011-01-01|398667.0|       2|        3|     2331.0| 11356.0|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|2011-01-01|437958.0|       3|        3|     2356.0| 11052.0|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|2016-01-01|437375.0|       4|        3|     1704.0| 11721.0|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|2015-01-01|288650.0|       2|        3|     2100.0| 10419.0|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|2015-01-01|308313.0|       3|        3|     1960.0|  9453.0|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|2016-01-01|177541.0|       3|        3|     2130.0| 10517.0|     2|         0|  25|
+--------------------+----------+----------+--------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

DataFrame[summary: string, id: string, price: string, bedrooms: string, bathrooms: string, sqft_living: string, sqft_lot: string, floors: string, waterfront: string, view: string]

In [74]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView("home_sales")

In [75]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("""
  SELECT
    YEAR(date) as year,
    format_number(avg(price), 2) as price
  FROM home_sales
  WHERE bedrooms = 4
  GROUP BY year
  ORDER BY year DESC
""").show()

+----+----------+
|year|     price|
+----+----------+
|2022|296,363.88|
|2021|301,819.44|
|2020|298,353.78|
|2019|300,263.70|
+----+----------+

In [76]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("""
  SELECT
    YEAR(date_built) as year,
    format_number(avg(price), 2) as price
  FROM home_sales
  WHERE bedrooms = 3 AND bathrooms = 3
  GROUP BY year
  ORDER BY year DESC
""").show()

+----+----------+
|year|     price|
+----+----------+
|2017|292,676.79|
|2016|290,555.07|
|2015|288,770.30|
|2014|290,852.27|
|2013|295,962.27|
|2012|293,683.19|
|2011|291,117.47|
|2010|292,859.62|
+----+----------+

In [77]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("""
  SELECT 
    YEAR(date_built) as year,
    format_number(avg(price), 2) as price
  FROM home_sales
  WHERE bedrooms = 3 AND bathrooms = 3 AND floors >= 2 AND sqft_living >= 2000
  GROUP BY year
  ORDER BY year DESC
""").show()

+----+----------+
|year|     price|
+----+----------+
|2017|293,281.74|
|2016|300,851.65|
|2015|307,147.80|
|2014|309,821.90|
|2013|310,510.69|
|2012|319,456.36|
|2011|290,688.58|
|2010|301,130.93|
+----+----------+

In [78]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating. 
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

query_price_per_view = """
  SELECT view, format_number(avg(price), 2) as price
  FROM home_sales 
  WHERE price >= 350000
  GROUP BY view
  ORDER BY view DESC
"""

spark.sql(query_price_per_view).show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+------------+
|view|       price|
+----+------------+
| 100|1,026,669.50|
|  99|1,061,201.42|
|  98|1,053,739.33|
|  97|1,129,040.15|
|  96|1,017,815.92|
|  95|1,054,325.60|
|  94|1,033,536.20|
|  93|1,026,006.06|
|  92|  970,402.55|
|  91|1,137,372.73|
|  90|1,062,654.16|
|  89|1,107,839.15|
|  88|1,031,719.35|
|  87|1,072,285.20|
|  86|1,070,444.25|
|  85|1,056,336.74|
|  84|1,117,233.13|
|  83|1,033,965.93|
|  82|1,063,498.00|
|  81|1,053,472.79|
+----+------------+
only showing top 20 rows

--- 0.43862128257751465 seconds ---

The uncached query takes approximately 0.6s.

In [79]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

24/04/22 03:17:31 WARN CacheManager: Asked to cache already cached data.

DataFrame[]

In [80]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [81]:
# 9. Using the cached data, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

spark.sql(query_price_per_view).show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+------------+
|view|       price|
+----+------------+
| 100|1,026,669.50|
|  99|1,061,201.42|
|  98|1,053,739.33|
|  97|1,129,040.15|
|  96|1,017,815.92|
|  95|1,054,325.60|
|  94|1,033,536.20|
|  93|1,026,006.06|
|  92|  970,402.55|
|  91|1,137,372.73|
|  90|1,062,654.16|
|  89|1,107,839.15|
|  88|1,031,719.35|
|  87|1,072,285.20|
|  86|1,070,444.25|
|  85|1,056,336.74|
|  84|1,117,233.13|
|  83|1,033,965.93|
|  82|1,063,498.00|
|  81|1,053,472.79|
+----+------------+
only showing top 20 rows

--- 0.16827797889709473 seconds ---

The cached query takes <0.5s

In [82]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
df.write.partitionBy("date_built").mode("overwrite").parquet("home_sales_partitioned")

In [83]:
# 11. Read the formatted parquet data.
df_partitioned = spark.read.parquet("home_sales_partitioned")
df_partitioned.show()

+--------------------+----------+--------+--------+---------+-----------+--------+------+----------+----+----------+
|                  id|      date|   price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|date_built|
+--------------------+----------+--------+--------+---------+-----------+--------+------+----------+----+----------+
|2ed8d509-7372-46d...|2021-08-06|258710.0|       3|        3|     1918.0|  9666.0|     1|         0|  25|2015-01-01|
|941bad30-eb49-4a7...|2020-05-09|229896.0|       3|        3|     2197.0|  8641.0|     1|         0|   3|2015-01-01|
|c797ca12-52cd-4b1...|2019-06-08|288650.0|       2|        3|     2100.0| 10419.0|     2|         0|   7|2015-01-01|
|0cfe57f3-28c2-472...|2019-10-04|308313.0|       3|        3|     1960.0|  9453.0|     2|         0|   2|2015-01-01|
|d715f295-2fbf-4e9...|2021-05-17|391574.0|       3|        2|     1635.0|  8040.0|     2|         0|  10|2015-01-01|
|a18515a2-86f3-46b...|2022-02-18|419543.0|       3|        2|     1642.0| 12826.0|     2|         0|  24|2015-01-01|
|98f6a9ad-8870-474...|2022-05-07|136752.0|       2|        3|     1701.0| 10771.0|     2|         0|   5|2015-01-01|
|7ac67498-b6f3-403...|2021-05-12|349318.0|       4|        3|     2417.0| 11304.0|     2|         0|  37|2015-01-01|
|c9bfdb1c-2499-4e3...|2021-12-07|268874.0|       2|        2|     1537.0| 12177.0|     1|         0|  10|2015-01-01|
|34c31a34-220d-469...|2019-02-06|409011.0|       3|        3|     2356.0| 10507.0|     1|         0|   1|2015-01-01|
|be0ccb95-415d-411...|2020-05-15|425154.0|       4|        3|     2120.0| 14229.0|     2|         0|   4|2015-01-01|
|e9031a86-1294-444...|2021-10-09|222322.0|       4|        3|     1928.0| 10510.0|     1|         0|  38|2015-01-01|
|e6d7c2a7-596e-4ec...|2019-03-15|131201.0|       4|        3|     1633.0| 14655.0|     1|         0|  22|2015-01-01|
|6683714b-3df7-454...|2022-02-01|333403.0|       4|        2|     2059.0|  9793.0|     2|         0|   4|2015-01-01|
|00fc996f-508c-430...|2021-07-15|373139.0|       3|        3|     1763.0| 11363.0|     1|         0|  39|2015-01-01|
|3d5545f8-bd3b-476...|2020-09-19|797862.0|       4|        6|     3494.0| 10385.0|     2|         0|  90|2015-01-01|
|ec6d357c-2435-43e...|2019-05-28|401792.0|       3|        2|     1627.0| 10765.0|     1|         0|  50|2015-01-01|
|c2be38fb-814a-403...|2020-03-20|352237.0|       3|        3|     2485.0| 10954.0|     2|         0|   6|2015-01-01|
|9570de1f-5a74-45b...|2021-11-29|298453.0|       3|        2|     2222.0| 10634.0|     1|         0|   6|2015-01-01|
|1baeff4f-fc00-489...|2020-12-17|152775.0|       3|        2|     1623.0| 13851.0|     1|         0|  41|2015-01-01|
+--------------------+----------+--------+--------+---------+-----------+--------+------+----------+----+----------+
only showing top 20 rows

In [84]:
# 12. Create a temporary table for the parquet data.
df_partitioned.createOrReplaceTempView("home_sales_partitioned")

In [85]:
# 13. Using the parquet DataFrame, run the last query above, that calculates 
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000. 
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

query_price_per_view_partitioned = query_price_per_view.replace("home_sales", "home_sales_partitioned")
spark.sql(query_price_per_view_partitioned).show()

print("--- %s seconds ---" % (time.time() - start_time))

+----+------------+
|view|       price|
+----+------------+
| 100|1,026,669.50|
|  99|1,061,201.42|
|  98|1,053,739.33|
|  97|1,129,040.15|
|  96|1,017,815.92|
|  95|1,054,325.60|
|  94|1,033,536.20|
|  93|1,026,006.06|
|  92|  970,402.55|
|  91|1,137,372.73|
|  90|1,062,654.16|
|  89|1,107,839.15|
|  88|1,031,719.35|
|  87|1,072,285.20|
|  86|1,070,444.25|
|  85|1,056,336.74|
|  84|1,117,233.13|
|  83|1,033,965.93|
|  82|1,063,498.00|
|  81|1,053,472.79|
+----+------------+
only showing top 20 rows

--- 0.8902251720428467 seconds ---

The partitioned query takes approximately as long, if not a bit longer, than the original uncached one.

In [86]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [87]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home_sales')

False